[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
